{% load static %}

<body>

	{% include "fridgeApp/includes/tabs.html" with active_tab='contacts' %}
	
	<section>
		<div class="title"><strong>Bonjour</strong></div>
		
		<p>Coucou nous c'est Louis Mathilde Victor Séverine </p>
	</section>
	
	<aside>
		<div class="title"><strong>Louis</strong></div>
		
		<p>Louis est en IMI</p>
	</aside>
	
	<section>
		<div class="title"><strong>Mathilde</strong></div>
		
		<p>Mathilde est en GMM</p>
	</section>
	
	<section>
		<div class="title"><strong>Victor</strong></div>
		
		<p>Victor est en IMI</p>
	</section>
	<section>
		<div class="title"><strong>Sév</strong></div>
		
		<p>Sév est en GI</p>
	</section>


</body>