{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'fridgeApp/stylesheet.css' %}" />
<link rel="icon" href="{% static 'fridgeApp/icon.ico' %}" />

<head>
	<meta charset="utf-8" />
	
	<title>
		Projet Frigo
	</title>
</head>
<nav>
	<ul>
		<li><a class="active" href="#about">Accueil</a></li>
		<li><a href="#search">Recherche</a></li>
		<li><a href="#add">Ajouter une recette</a></li>
		<li><a href="#who">Qui sommes-nous ?</a></li>
	</ul>
</nav>
<body>
	<h1> Voici notre site de recettes trop stylé </h1>
	<p> Vous pouvez naviguer librement sur ce site afin de rechercher des recettes en fonction des ingrédients présents dans votre frigo. Bon appétit ! </p>
</body>