{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'fridgeApp/stylesheet.css' %}" />
<link rel="icon" href="{% static 'fridgeApp/icon.ico' %}" />

<head>
	<meta charset="utf-8" />
	
	<title>
		Projet Frigo
	</title>
</head>
<body>
	<header>
		<a href="fridgeApp/"></a>
	</header>

	<nav>
		<img src="{% static 'fridgeApp/icon.ico' %}"></img>
		<strong>Projet Frigo, le site de recette pour étudiant !</strong>
		<ul>
			<li><a href="#about">Accueil</a></li>
			<li><a class="active" href="recipe/1">Recherche</a></li>
			<li><a href="#add">Ajouter une recette</a></li>
			<li><a href="#who">Qui sommes-nous ?</a></li>
		</ul>
	</nav>
	
	<section>
	<div class="title">{{ recipe.recipe_text }}</div>
	
	<h3> Ingredients </h3>
	<ul>
	{% for ingredient in recipe.ingredient_set.all %}
		<li> {{ingredient.ingredient_text}}: {{ingredient.quantity}} {{ingredient.unit}} </li>
	{% endfor %}
	</ul>
	
	<h3> Informations sur la recette </h3>
	<ul>
	{% for info in recipe.cook_information_set.all %}
		<li> {{info.information_text}} : 
		{% if info.value != 0 and info.value_unit == 'none' %} 
			{{info.value|stringformat:"d"}}
		{% else %}
			{% if info.value != 0 %} {{info.value}} {% endif %}
			{% if info.value_unit != 'none' %} {{info.value_unit}} {% endif %} </li>
		{% endif %}
	{% endfor %}
	</ul>
	
	<h3> Instructions </h3>
	{{ recipe.instructions.instruction_text }}
	
	</section>
	<footer>
    <a href="{%url 'fridgeApp:recipe' recipe.id|add:-1%}">Précédent</a>&nbsp; |&nbsp;
	<a href="{%url 'fridgeApp:recipe' recipe.id|add:'1'%}">Suivant</a> <br/>
	<a href="{%url 'fridgeApp:home'%}">Retour à l'accueil</a>	
	</footer>
	
</body>
