{% load static %}

<body>

	{% include "fridgeApp/includes/tabs.html" with active_tab='None' %}
	
	<section>
	<div class="title">{{ recipe.recipe_text }}</div>
	
	<h3> Ingredients </h3>
	<ul>
	{% for ingredient in recipe.ingredient_set.all %}
		<li> {{ingredient.ingredient_text}}: {{ingredient.quantity}} {{ingredient.unit}} </li>
	{% endfor %}
	</ul>
	
	<h3> Informations sur la recette </h3>
	<ul>
	{% for info in recipe.cook_information_set.all %}
		<li> {{info.information_text}} : 
		{% if info.value != 0 and info.value_unit == 'none' %} 
			{{info.value|stringformat:"d"}}
		{% else %}
			{% if info.value != 0 %} {{info.value}} {% endif %}
			{% if info.value_unit != 'none' %} {{info.value_unit}} {% endif %} </li>
		{% endif %}
	{% endfor %}
	</ul>
	
	<h3> Instructions </h3>
	{{ recipe.instructions.instruction_text }}
	
	</section>
	<footer>
    <a href="{%url 'fridgeApp:recipe' recipe.id|add:-1%}">Précédent</a>&nbsp; |&nbsp;
	<a href="{%url 'fridgeApp:recipe' recipe.id|add:'1'%}">Suivant</a> <br/>
	<a href="{%url 'fridgeApp:home'%}">Retour à l'accueil</a>	
	</footer>
	
</body>
