{% load static %}

<body>
{% include "fridgeApp/includes/tabs.html" with active_tab='search' %}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var availableTags = [
		{% for category, ingredients in ingredients.items %}
		{% for text in ingredients %}
      "{{ text }}",
	  {% endfor %}
	  {% endfor %}
	  ""
	  
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>

<div class="ui-widget">
  <label for="tags">Tags: </label>
  <input id="tags">
</div>

<form action="../result" method="post">

    {% csrf_token %}
	
	<h1>Type de plat</h1>
	<input id="id_entree" name="entree" type="checkbox" /><label for="id_entree">Entrée</label><br/>
	<input id="id_plat" name="plat" type="checkbox" /><label for="id_plat">Plat</label><br/>
	<input id="id_dessert" name="dessert" type="checkbox" /><label for="id_dessert">Dessert</label><br/>
	
	{% for category in ingredients%}
		<h1>{{ category.key | capfirst }}</h1>
		{% for text in ingredients.category %}
			<input id="id_{{ text }}" name="{{ text }}" type="checkbox" /><label for="id_{{ text }}">{{ text | capfirst}}</label><br />
		{% endfor %}
	{% endfor %}
	
	{% for category, ingredients in ingredients.items %}
		<h1>{{ category | capfirst }}</h1>
		{% for text in ingredients %}
			<input id="id_{{ text }}" name="{{ text }}" type="checkbox" /><label for="id_{{ text }}">{{ text | capfirst}}</label><br />
		{% endfor %}
	{% endfor %}
	</br>
    <input type="submit" value="Rechercher" />

</form>
</body>