{% load static %}

<body>
{% include "fridgeApp/includes/tabs.html" with active_tab='search' %}

<form action="../result" method="post">

    {% csrf_token %}
	
	<h1>Type de plat</h1>
	{% for type in form.categories %}
		<input id="id_{{ type }}" name="{{ type }}" type="checkbox" /><label for="id_{{ type }}">{{ type | capfirst}}</label><br />
	{% endfor %}
	
	{% for category, ingredients in ingredients.items %}
		<h1>{{ category | capfirst }}</h1>
		{% for text in ingredients %}
			<input id="id_{{ text }}" name="{{ text }}" type="checkbox" /><label for="id_{{ text }}">{{ text | capfirst}}</label><br />
		{% endfor %}
	{% endfor %}
	</br>
    <input type="submit" value="Rechercher" />

</form>
</body>