{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'fridgeApp/stylesheet.css' %}" />
<link rel="icon" href="{% static 'fridgeApp/icon.ico' %}" /> 

<head>
	<meta charset="utf-8" />
	
	<title>
		Projet Frigo
	</title>
</head>

<header>
		<a href="{% url 'fridgeApp:home' %}"></a>
</header>

 <nav>
		<img src="{% static 'fridgeApp/icon.ico' %}"></img>
		<strong>Projet Frigo, le site de recette pour étudiant !</strong>
	<ul class="tab-menu">
		<li class="{% if active_tab == 'home' %} active{% endif %}"><a href="{% url 'fridgeApp:home' %}">Accueil</a></li>
		<li class="{% if active_tab == 'search' %} active{% endif %}"><a href="{% url 'fridgeApp:search' %}">Recherche</a></li>
		<li class="{% if active_tab == 'add' %} active{% endif %}"><a href="{% url 'fridgeApp:add' %}">Ajouter une recette</a></li>
		<li class="{% if active_tab == 'contacts' %} active{% endif %}"><a href="{% url 'fridgeApp:contact' %}">Contacts</a></li>
	</ul>
</nav>
